<launch>
  <param name="use_sim_time" value="true" />
  
  <node name="xstage" pkg="xstage" type="xstage" args="$(env RABOT)/Config/Simulation/largelab2.world">
    <remap from="/base_scan" to="/scan"/>
    <remap from="/cmd_robot" to="/ramaxx_cmd"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 3.141592654   /base_link /laser 100" />

  
  <include file="$(find hector_mapping)/launch/mapping_default.launch" />

  <node pkg="costmap" type="costmap_node" name="costmap" output="screen"></node>

  
  <node pkg="freespace_finder" type="lec_node" name="lec_node" output="screen">
    <!--<param name="map_topic" value="/map" />-->
    <param name="grid_spacing" value="0.50"/> <!-- large obstacles are split into a grid, this is the distance (in m) between points on that grid -->
    <param name="map_topic" value="/map_inflated" />
    <param name="publish_debug_marker" value="true" />
    <param name="publish_verbose_debug_marker" value="true" />
  </node>
  
<!--<node name="map_server" pkg="map_server" type="map_server" args="$(find path_following)/map.yaml" />-->
<!--<node name="amcl" pkg="amcl" type="amcl" />-->
<node name="rviz" pkg="rviz" type="rviz" respawn="false" />

</launch>
