<launch>
  <node pkg="reeds_shepp" type="path_reeds_shepp_node" name="reeds_shepp" output="screen">
    <param name="circle_radius" value="1.7" />
    <param name="max_waypoint_distance" value="0.25" />
    <param name="cost_backwards" value="2.5" />
    <param name="cost_forwards" value="1.0" />
    <param name="cost_curve" value="1.3" />
    <param name="cost_straight" value="1.0" />
  </node>
</launch>
