[submodule "utils_path"]
	path = utils_path
	url = gitlab@gitlab.cs.uni-tuebingen.de:utils/path
[submodule "utils_generic"]
	path = utils_generic
	url = gitlab@gitlab.cs.uni-tuebingen.de:utils/generic
