<launch>
	<node pkg="camera1394" type="camera1394_node" name="camera">
		<param name="video_mode" type="string" value="640x480_mono8" />
		<param name="frame_rate" type="double" value="60.0" />
		<param name="iso_speed" type="int" value="400" />
		<param name="format7_packet_size" type="int" value="1880" />
		<param name="format7_color_coding" type="string" value="mono8" />
		<param name="bayer_pattern" type="string" value="rggb" />
		<param name="bayer_method" type="string" value="Simple" />
	</node>
</launch>
