<launch>
    <!-- motion_control requires a frame with the name "/map" -->
    <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_map_identity" args="0 0 0 0 0 0 odom map 100" />

    <!-- copied from robot_goto launchfile -->
    <node name="motion_control" pkg="motion_control" type="motion_control" respawn="false" output="screen">
        <param name="waypoint_threshold" value="0.15" />
        <param name="max_waypoint_distance" value="0.25" />
    </node>

    <!--<node name="follow_path" pkg="traversable_path" type="follow_path" />-->

</launch>
