<launch>
    <!-- copied from robot_goto launchfile -->
    <!--<param name="use_sim_time" value="false" />-->
    <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_map_identity" args="0 0 0 0 0 0 odom map 100" />
    <node name="motion_control" pkg="motion_control" type="motion_control" respawn="false" output="screen">
            <param name="waypoint_threshold" value="0.15" />
            <param name="max_waypoint_distance" value="0.25" />
    </node>

    <!-- configure laser -->
    <node name="config_laser" pkg="dynamic_reconfigure" type="dynparam"
        args="set /hokuyo_front &quot;{'allow_unsafe_settings': true, 'min_ang': -1.5, 'max_ang': 1.5, intensity: true}&quot;"
        />


    <!-- run traversable_path-nodes -->
    <include file="$(find traversable_path)/launch/classify_terrain.launch" />
    <node name="follow_path" pkg="traversable_path" type="follow_path" />

</launch>
