<launch>
    <!--
    <node pkg="tf" type="static_transform_publisher" name="tf_odom_to_map_identity" args="0 0 0 0 0 0 odom map 100" />
    -->

    <!-- This node computes a path from map and goal pose -->
    <node name="path_planner" pkg="path_planner" type="path_planner_node">
        <param name="use_map_topic" value="true" />
        <remap from="/map/inflated" to="/traversability_map" />
    </node>

    <!-- handles the path published by path_planner -->
    <node name="FollowTestNode" pkg="motion_control" type="FollowTestNode">
        <param name="velocity" value="0.3" />
    </node>

    <!-- controlls the motion ;) -->
    <node name="motion_control" pkg="motion_control" type="motion_control" respawn="false">
        <param name="front_only" value="true" />
        <param name="waypoint_threshold" value="0.15" />
        <param name="max_waypoint_distance" value="0.25" />
    </node>

    <!-- run traversable_path-nodes -->
    <include file="$(find traversable_path)/launch/classify_terrain.launch" />
    <node name="follow_path" pkg="traversable_path" type="follow_path" />

</launch>
