<?xml version="1.0"?>
<launch>
   <node name="path_planner" type="path_planner_node" pkg="path_planner"
    		output="screen" respawn="true">
        <param name="use_map_topic" value="false" />
        <param name="map_service" value="/static_map" />
        <param name="map_topic" value="/global_cost_map" />
        <param name="map_cloud" value="true" />
        <param name="use_unknown_cells" value="true" />
        <param name="use_cost_map" value="false" />
        <param name="use_collision_gridmap" value="true" />

        <param name="render_open_cells" value="false"/>

        <param name="algorithm" value="patsy_forward" />

        <param name="preprocess" value="false" />
        <param name="postprocess" value="true" />

        <param name="use_cloud" value="true" />
        <param name="use_scan_front" value="true" />
        <param name="use_scan_back" value="false" />

        <param name="size/forward" value="0.3" />
        <param name="size/backward" value="-0.8" />
        <param name="size/width" value="0.95" />

        <remap from="/obstacles" to="/obstacle_cloud" />
    </node>
</launch>
