<?xml version="1.0"?>
<launch>
   <node name="path_planner" type="path_planner_node" pkg="path_planner"
    		output="screen" respawn="true">
        <param name="use_map_topic" value="true" />
        <param name="use_map_service" value="false" />
        <param name="map_service" value="dynamic_map" />
        <param name="map_topic" value="map" />
        <param name="use_unknown_cells" value="true" />
        <param name="use_cost_map" value="false" />

        <param name="use_collision_gridmap" value="false" />
        <param name="grow_obstacles" value="0.2" />

        <param name="render_open_cells" value="false"/>

        <param name="penalty/backward" value="1.0" />
        <param name="penalty/turn" value="0.0" />

        <param name="oversearch_distance" value="0.05" />

        <param name="algorithm" value="2d" />

        <param name="preprocess" value="true" />
        <param name="postprocess" value="true" />

        <param name="use_cloud" value="true" />
        <param name="use_scan_front" value="true" />
        <param name="use_scan_back" value="false" />

        <param name="size/forward" value="0.2" />
        <param name="size/backward" value="-0.6" />
        <param name="size/width" value="0.70" />

        <remap from="scan/front/filtered" to="scan_filtered" />
    </node>
</launch>
