<?xml version="1.0"?>
<launch>
	<node name="static_path" type="static_path_node" pkg="path_planner" output="screen" respawn="true">
        <param name="use_map_topic" value="false" />
        <param name="map_service" value="/dynamic_map" />
        <param name="map_topic" value="/global_cost_map" />

        <param name="resolution" value="0.1" />

		<!--rosparam param="segments">[[0.7], [1.57, 1.0], [0.3], [-3.141592, 1.0], [0.7], [3.141592, 1.0], [1.0]]</rosparam-->
		<!-- rosparam param="segments">[[4.5], [3.14, 1.0], [4.0]]</rosparam-->
		<!-- typical turning maneuver -->
		<!--rosparam param="segments">[[1.57079632679, -1.2], [-1.57079632679, 1.2]]</rosparam-->
		<!-- straight line forward -->
		<!--rosparam param="segments">[[5.0]]</rosparam-->
		<!-- straight line backward -->
		<!--rosparam param="segments">[[-5.0]]</rosparam-->
		<!-- figure eight course -->
		<!-- rosparam param="segments">[[6.28318530718, 1.0], [-6.28318530718, 1.0]]</rosparam-->
		<!-- circle forward -->
		<rosparam param="segments">[[3.14, 0.8]]</rosparam>
		<!-- circle backward -->
		<!--rosparam param="segments">[[5.0, -1.0]]</rosparam-->
	</node>
</launch>
