<?xml version="1.0"?>
<launch>
	<node name="static_path" type="static_path_node" pkg="path_planner" output="screen" respawn="true">
        <param name="use_map_topic" value="false" />
        <param name="map_service" value="/dynamic_map" />
        <param name="map_topic" value="/global_cost_map" />

        <param name="resolution" value="0.1" />

		<rosparam param="segments">[[0.7], [1.57, 1.0], [0.3], [-3.141592, 1.0], [0.7], [3.141592, 1.0], [1.0]]</rosparam>		

	</node>
</launch>
