<?xml version="1.0"?>
<launch>
<include file="$(find navigation_launch)/launch/model_params/rollator_score_params.launch" />
<group ns="path_follower" >

	<group ns="model_based_planner" >

		<!-- General -->
            <param name="model_planner_type" value="AStar" />
            <param name="model_node_expander_type" value="angular_vel" />
            <param name="model_scorer_type" value="goal_scorer" />

		<!-- Planner -->
            <param name="max_num_nodes" value="800" />
            <param name="max_depth" value="5" />
            <param name="curve_segment_subdivisions" value="30" />
            <param name="look_ahead_time" value="5.0" />
	
	    <param name="number_of_splits" value="7" />
            <param name="steering_angle_delta" value="0.12" />
            <param name="number_of_splits_first_level" value="15" />
            <param name="steering_angle_delta_first_level" value="0.08" />

<!--	    <param name="number_of_splits" value="3" />
            <param name="steering_angle_delta" value="0.15" />
            <param name="number_of_splits_first_level" value="7" />
            <param name="steering_angle_delta_first_level" value="0.15" />
-->
            

    	</group>
</group>
</launch>
