<?xml version="1.0"?>
<launch>

  <node pkg="map_server" type="map_server" name="map_server" output="screen" respawn="true" args="$(find navigation_launch)/map/map.yaml" />

    <node pkg="amcl_robotle" type="amcl" name="amcl" output="screen">
      <remap from="scan" to="/scan/front/filtered" />

      <param name="min_particles" value="10"/>
      <param name="max_particles" value="100"/>

      <param name="kld_err" value="0.01"/>
      <param name="kld_z" value="0.99"/>

      <param name="update_min_d" value="0.01"/>
      <param name="update_min_a" value="0.01"/>

      <param name="resample_interval" value="5"/>

      <param name="transform_tolerance" value="0.1"/>

      <param name="recovery_alpha_slow" value="0.001"/>
      <param name="recovery_alpha_fast" value="0.01"/>

      <param name="initial_pose_x" value="0.0"/>
      <param name="initial_pose_y" value="0.0"/>
      <param name="initial_pose_a" value="0"/>
      <param name="initial_cov_xx" value="3.0"/>
      <param name="initial_cov_yy" value="3.0"/>
      <param name="initial_cov_aa" value="3.14"/>
      <param name="gui_publish_rate" value="1.0"/>

      <param name="laser_min_range" value="0.3"/>
      <param name="laser_max_range" value="15.0"/>
      <param name="laser_max_beams" value="200"/>
      <param name="laser_z_hit" value="0.95"/>
      <param name="laser_z_short" value="0.1"/>
      <param name="laser_z_max" value="0.05"/>
      <param name="laser_z_rand" value="0.05"/>
      <param name="laser_sigma_hit" value="0.10"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_model_type" value="likelihood_field"/>
      <param name="laser_likelihood_max_dist" value="2.0"/>

      <param name="odom_model_type" value="robotle"/>
      <param name="odom_alpha1" value="0.1"/>
      <param name="odom_alpha2" value="0.01"/>
      <param name="odom_alpha3" value="0.21"/>
      
      <param name="odom_frame_id" value="odom"/>
      <param name="base_frame_id" value="base_link"/>
      <param name="global_frame_id" value="map"/>
    </node>

</launch>
