<?xml version="1.0"?>
<!--
Launch tha navigation nodes as well as nodes for laser filter, SLAM,
and obstacle detection (based on 2d laser).
This is a complete setup and enought to actually navigate the robot.
-->
<launch>
    <arg name="robot_controller" default="$(optenv ROBOT_CONTROLLER kinematic_SLP)" />
    
    <arg name="algo" default="AStar" />

    <arg name="c1" default="true" />
    <arg name="c2" default="true" />

    <arg name="s1" default="0.0" />
    <arg name="s2" default="0.0" />
    <arg name="s3" default="0.0" />
    <arg name="s4" default="0.0" />
    <arg name="s5" default="0.0" />
    <arg name="s6" default="0.0" />

    <arg name="nnodes" default="300" />
    <arg name="depth" default="10" />
    <arg name="ic" default="3" />
    <arg name="ia" default="0" />
    <arg name="uinterval" default="1.0" />
    <arg name="lmf" default="1.0" />
    <arg name="dis2p" default="0.3" />
    <arg name="dis2o" default="0.85" />
    <arg name="s_angle" default="25.0" />
    <arg name="mu" default="0.6" />    
    <arg name="ef" default="1.0" />
    <arg name="use_v" default="true" />

    <arg name="use_planner_cost" default="false" />
    <arg name="use_planner_dynamic" default="false" />
	 <arg name="use_planner_static" default="false" />
	 <arg name="use_planner_default" default="true" />

	 <arg name="use_karto" default="true" />
    <arg name="use_karto_segmented" default="false" />
    <arg name="use_amcl" default="false" />
	 <arg name="use_hector" default="false" />

    <include file="$(find navigation_launch)/launch/mapping.launch">
        <arg name="use_karto" value="$(arg use_karto)" />
        <arg name="use_karto_segmented" value="$(arg use_karto_segmented)" />
        <arg name="use_amcl" value="$(arg use_amcl)" />
        <arg name="use_hector" value="$(arg use_hector)" />  
    </include>
    
    <!-- obstacle cloud (simply converting laser scans to cloud) -->
    <node name="obstacle_cloud" type="scan2cloud_node" pkg="scan2cloud" output="screen">
        <!--<remap from="/scan/front/filtered" to="/scan/filtered" />-->
        <remap from="/cloud/total" to="/obstacle_cloud" />
    </node>
    
    <include file="$(find navigation_launch)/launch/navigation.launch">
      <arg name="robot_controller" value="$(arg robot_controller)" />
      <arg name="algo" value="$(arg algo)" />

      <arg name="c1" value="$(arg c1)" />
      <arg name="c2" value="$(arg c2)" />

      <arg name="s1" value="$(arg s1)" />
      <arg name="s2" value="$(arg s2)" />
      <arg name="s3" value="$(arg s3)" />
      <arg name="s4" value="$(arg s4)" />
      <arg name="s5" value="$(arg s5)" />
      <arg name="s6" value="$(arg s6)" />

      <arg name="nnodes" value="$(arg nnodes)" />
      <arg name="depth" value="$(arg depth)" />
      <arg name="ic" value="$(arg ic)" />
      <arg name="ia" value="$(arg ia)" />
      <arg name="uinterval" value="$(arg uinterval)" />
      <arg name="lmf" value="$(arg lmf)" />
      <arg name="dis2p" value="$(arg dis2p)" />
      <arg name="dis2o" value="$(arg dis2o)" />
      <arg name="s_angle" value="$(arg s_angle)" />
      <arg name="mu" value="$(arg mu)" />
      <arg name="ef" value="$(arg ef)" />
      <arg name="use_v" value="$(arg use_v)" />

      <arg name="use_planner_cost" value="$(arg use_planner_cost)" />
      <arg name="use_planner_dynamic" value="$(arg use_planner_dynamic)" />
      <arg name="use_planner_static" value="$(arg use_planner_static)" />
      <arg name="use_planner_default" value="$(arg use_planner_default)" />
    </include>
</launch>
