<?xml version="1.0"?>
<launch>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
    <rosparam command="load" file="$(find navigation_launch)/config/laser_config_leia_front.yaml" />
    <remap from="scan" to="/scan/front" />
    <remap from="scan_filtered" to="/scan/front/filtered" />
  </node>


<!--
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_front">
    <rosparam command="load" file="$(find navigation_launch)/config/laser_config_front.yaml" />
    <remap from="scan" to="/scan/front" />
    <remap from="scan_filtered" to="/scan/front/filtered" />
  </node>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_back">
    <rosparam command="load" file="$(find navigation_launch)/config/laser_config_back.yaml" />
    <remap from="scan" to="/scan/back" />
    <remap from="scan_filtered" to="/scan/back/filtered" />
  </node>
-->
</launch>
