<?xml version="1.0" ?>
<launch>
    <include file="$(find path_follower)/launch/filter.launch" />

    <node name="growmap" type="costmap_grow_node" pkg="costmap" output="screen" respawn="true">
    </node>
    
    <node name="costmap" type="costmap_gradient_node" pkg="costmap" output="screen" respawn="true">
    </node>

    <node name="path_planner" type="path_planner_node" pkg="path_planner" output="screen" respawn="true">
        <param name="use_map_topic" value="true" />
		<param name="map_service" value="/dynamic_map/inflated" />
		<param name="map_topic" value="/map/inflated" />
		<param name="use_unknown_cells" value="true" />
        <param name="use_cost_map" value="false" />

        <param name="size/forward" value="0.45" />
        <param name="size/backward" value="-0.45" />
        <param name="size/width" value="0.7" />
	</node>

    <include file="$(find navigation_launch)/launch/mapping.launch" />

    <node pkg="path_control" type="path_control_node" name="path_control_node" output="screen" respawn="true">
        <param name="nonaction_velocity" value="1.0" />
        <param name="num_replan_attempts" value="0" />
    </node>
    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy" output="screen" respawn="true">
        <param name="target_speed" value="0.5" />
        <param name="failure_mode" value="replan" />
        <param name="goal_topic" value="/goal"/>
    </node>

    <include file="$(find path_follower)/launch/follower_omni_orthexp.launch" />
</launch>
