<?xml version="1.0"?>
<!--
This launches the core nodes of the navigation project.
Note, that you still need additional nodes for mapping and localization.
To use any obstacle avoidance, you further need a node that publishes a
pointcloud that is used for obstacle detection.

The alternative launchfile `full.launch` contains nodes for all those
tasks and can be used instead of this file.
-->
<launch>
	 <!-- include file="$(find path_planner)/launch/planner.launch" /-->
	 <include file="$(find path_planner)/launch/static_path.launch" />
    <include file="$(find path_control)/launch/path_control.launch" />
    <include file="$(find path_follower)/launch/follower.launch" />
</launch>
