<?xml version="1.0" ?>
<launch>
    <include file="$(find path_follower)/launch/filter_sick.launch" />

    <include file="$(find navigation_launch)/launch/planner.launch" />
    <include file="$(find navigation_launch)/launch/mapping.launch" />

    <node pkg="path_control" type="path_control_node" name="path_control_node" output="screen" respawn="true">
        <param name="target_speed" value="1.2" />
        <param name="num_replan_attempts" value="3" />
    </node>
    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy" output="screen" respawn="true">
        <param name="target_speed" value="1.2" />
        <param name="failure_mode" value="replan" />
        <remap from="/rviz_goal" value="/goal" />
    </node>

    <include file="$(find path_follower)/launch/follower_omni_orthexp.launch" />
</launch>
