<?xml version="1.0"?>
<!--
Launch the full.launch (navigation + mapping and obstacle map) in addition to the
highlevel_dummy node, which can be used, to set navigation goals in Rviz.

The higlevel_dummy simply listens for goals set in Rviz and passes them to
path_control using the action interface. It is thus good for testing and 
demonstrating the navigation framework.
-->
<launch>
    <arg name="robot_controller" default="$(optenv ROBOT_CONTROLLER kinematic_SLP)" />
    <arg name="algo" default="AStar" />

    <arg name="c1" default="true" />
    <arg name="c2" default="true" />

    <!-- Config 0: Pure Algorithm -->
    <!-- arg name="s1" default="0.0" />
    <arg name="s2" default="0.0" />
    <arg name="s3" default="0.0" />
    <arg name="s4" default="0.0" / -->

    <!-- Config 1: Distance Sintonization (ThetaStar) -->
    <!-- arg name="s1" default="0.999999999999999" />
    <arg name="s2" default="0.999999999999999" />
    <arg name="s3" default="-1.000000000000000" />
    <arg name="s4" default="0.0" / -->

    <!-- Config 2: Curvature Sintonization (ThetaStar) -->
    <!-- arg name="s1" default="-4.050399000000001" />
    <arg name="s2" default="0.999999999999999" />
    <arg name="s3" default="0.999999999999999" />
    <arg name="s4" default="0.0" / -->

    <!-- Config 3: Distance + Curvature Sintonization (ThetaStar) -->
    <!-- arg name="s1" default="-2.100000000000000" />
    <arg name="s2" default="0.999999999999999" />
    <arg name="s3" default="0.851406311055970" />
    <arg name="s4" default="0.0" / -->

    <!-- Config 4: Curvature and Distance + Curvature Sintonization (AStar) -->
    <arg name="s1" default="3.329896365316150e-04" />
    <arg name="s2" default="0.088290000000000" />
    <arg name="s3" default="0.999999999999999" />
    <arg name="s4" default="0.0" />

    <!-- Config 6: Worked well with 10° in sim (AStar) -->
    <!-- arg name="s1" default="0.758386981520999" />
    <arg name="s2" default="0.0" />
    <arg name="s3" default="2.100000000000000" />
    <arg name="s4" default="0.0" / -->

    <arg name="nnodes" default="400" />
    <arg name="ic" default="3" />
    <arg name="uinterval" default="0.5" />
    <arg name="dis2p" default="0.4" />
    <arg name="dis2o" default="0.85" />
    <arg name="s_angle" default="45.0" />

    <arg name="use_planner_cost" default="false" />
    <arg name="use_planner_dynamic" default="false" />
    <arg name="use_planner_static" default="false" />
    <arg name="use_planner_default" default="true" />
    
    <arg name="use_karto" default="true" />
    <arg name="use_karto_segmented" default="false" />
    <arg name="use_amcl" default="false" />
    <arg name="use_hector" default="false" />

    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy"
    		output="screen" respawn="true">
        <param name="target_speed" value="1.0" />
        <param name="failure_mode" value="replan" />
        <remap from="/rviz_goal" to="/move_base_simple/goal" />
    </node>

    <include file="$(find navigation_launch)/launch/laser_filter.launch" />
    <include file="$(find navigation_launch)/launch/full.launch">
      <arg name="robot_controller" value="$(arg robot_controller)" />
      <arg name="algo" value="$(arg algo)" />

      <arg name="c1" value="$(arg c1)" />
      <arg name="c2" value="$(arg c2)" />

      <arg name="s1" value="$(arg s1)" />
      <arg name="s2" value="$(arg s2)" />
      <arg name="s3" value="$(arg s3)" />
      <arg name="s4" value="$(arg s4)" />

      <arg name="nnodes" value="$(arg nnodes)" />
      <arg name="ic" value="$(arg ic)" />
      <arg name="uinterval" value="$(arg uinterval)" />
      <arg name="dis2p" value="$(arg dis2p)" />
      <arg name="dis2o" value="$(arg dis2o)" />
      <arg name="s_angle" value="$(arg s_angle)" />

      <arg name="use_karto" value="$(arg use_karto)" />
      <arg name="use_karto_segmented" value="$(arg use_karto_segmented)" />
      <arg name="use_amcl" value="$(arg use_amcl)" />
      <arg name="use_hector" value="$(arg use_hector)" />

      <arg name="use_planner_cost" value="$(arg use_planner_cost)" />
      <arg name="use_planner_dynamic" value="$(arg use_planner_dynamic)" />
      <arg name="use_planner_static" value="$(arg use_planner_static)" />
      <arg name="use_planner_default" value="$(arg use_planner_default)" />
    </include>

    <param name="/path_planner/render_open_cells" value="false" />
</launch>
