<?xml version="1.0"?>
<launch>
    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy"
    		output="screen" respawn="true">
        <param name="target_speed" value="0.7" />
        <param name="failure_mode" value="replan" />
        <remap from="/rviz_goal" to="/move_base_simple/goal" />
    </node>

    <remap from="/cmd_vel" to="/summit_xl/robot_control/command" />

    <include file="$(find navigation_launch)/launch/laser_filter.launch" />

    <include file="$(find navigation_launch)/launch/rviz_controlled.launch">
        <arg name="robot_controller" value="$(arg robot_controller)" />
        <arg name="use_planner_default" value="true" />
    </include>
</launch>
