<?xml version="1.0"?>
<launch>
    <arg name="robot_controller" default="$(optenv ROBOT_CONTROLLER kinematic_HBZ)" />

    <include file="$(find navigation_launch)/launch/laser_filter.launch" />

    <include file="$(find navigation_launch)/launch/rviz_controlled.launch">
      <arg name="robot_controller" value="$(arg robot_controller)" />

      <arg name="use_planner_default" value="true" />
    </include>

    <param name="path_planner/render_open_cells" value="false" />
    <param name="path_planner/algorithm" value="generic" />
    <param name="path_planner/optimization/optimize_cost" value="true" />
    <param name="path_planner/optimization/publish_gradient" value="true" />
    <param name="path_planner/optimization/weight/data" value="0.25" />
    <param name="path_planner/optimization/weight/smooth" value="0.1" />
    <param name="path_planner/optimization/weight/cost" value="1.0" />
    <param name="path_planner/optimization/tolerance" value="1e-5" />

    <param name="path_follower/local_planner/algorithm" value="NULL" />

    <param name="highlevel_dummy/planner/reversed" value="true" />
    <param name="highlevel_dummy/planner/goal_dist_threshold" value="0.15" />
    <param name="highlevel_dummy/planner/goal_angle_threshold" value="25" />
    <param name="highlevel_dummy/planner/allow_forward" value="true" />
    <param name="highlevel_dummy/planner/allow_backward" value="false" />
    <param name="highlevel_dummy/planner/ackermann_la" value="0.6" />
    <param name="highlevel_dummy/planner/ackermann_steer_steps" value="2" />
    <param name="highlevel_dummy/planner/ackermann_max_steer_angle" value="40" />
    <param name="highlevel_dummy/planner/ackermann_steer_delta" value="20" />

</launch>
