<?xml version="1.0"?>
<!--
Launch the full.launch (navigation + mapping and obstacle map) in addition to the
highlevel_dummy node, which can be used, to set navigation goals in Rviz.

The higlevel_dummy simply listens for goals set in Rviz and passes them to
path_control using the action interface. It is thus good for testing and 
demonstrating the navigation framework.
-->
<launch>
    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy"
    		output="screen" respawn="true">
        <param name="target_speed" value="0.7" />
        <param name="failure_mode" value="replan" />
        <remap from="/rviz_goal" to="/move_base_simple/goal" />
    </node>

    <include file="$(find navigation_launch)/launch/full.launch" />
</launch>
