<?xml version="1.0"?>
<launch>
    <include file="$(find navigation_launch)/launch/rviz_controlled.launch">
        <arg name="use_hector" value="true" />
        <arg name="use_planner_default" value="true" />
    </include>

    <group ns="highlevel_dummy">
        <param name="target_speed" value="0.8" />
        <param name="obstacle_radius" value="0.5" />
    </group>

    <group ns="path_follower" >
        <param name="controller_type" value="differential_orthexp" />
        <group ns="local_planner">
            <param name="algorithm" value="NULL" />
        </group>
    </group>
</launch>
