<?xml version="1.0"?>
<!--
Launch the full.launch (navigation + mapping and obstacle map) in addition to the
highlevel_dummy node, which can be used, to set navigation goals in Rviz.

The higlevel_dummy simply listens for goals set in Rviz and passes them to
path_control using the action interface. It is thus good for testing and 
demonstrating the navigation framework.
-->
<launch>
    <arg name="robot_controller" default="differential_orthexp" /> <!--$(optenv ROBOT_CONTROLLER kinematic_HBZ_TT)" />-->
    <arg name="local_planner" default="NULL" />


    <arg name="c1" default="true" />
    <arg name="c2" default="true" />

    <arg name="s1" default="3.5" />
    <arg name="s2" default="1.5" />
    <arg name="s3" default="2.0" />
    <arg name="s4" default="1.0" />
    <arg name="s5" default="1.5" />
    <arg name="s6" default="5.0" />

    <arg name="nnodes" default="400" />
    <arg name="depth" default="10" />
    <arg name="ic" default="7" />
    <arg name="ia" default="0" />
    <arg name="uinterval" default="0.125" />
    <arg name="lmf" default="12.0" />
    <arg name="dis2p" default="0.8" />
    <arg name="adis" default="0.65" />
    <arg name="fdis" default="0.55" />
    <arg name="s_angle" default="35.0" />
    <arg name="mu" default="0.005" />
    <arg name="ef" default="2.0" />

    <arg name="use_v" default="true" />

    <arg name="use_planner_cost" default="false" />
    <arg name="use_planner_dynamic" default="false" />
    <arg name="use_planner_static" default="false" />
    <arg name="use_planner_default" default="true" />
    
    <arg name="use_karto" default="false" />
    <arg name="use_karto_segmented" default="false" />
    <arg name="use_amcl" default="false" />
    <arg name="use_hector" default="true" />

    <node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy"
    		output="screen" respawn="true">
        <param name="target_speed" value="0.8" />
        <param name="failure_mode" value="replan" />
        <param name="obstacle_radius" value="0.5" />
        <remap from="/rviz_goal" to="/move_base_simple/goal" />
    </node>

    <include file="$(find navigation_launch)/launch/full.launch">
      <arg name="robot_controller" value="$(arg robot_controller)" />

      <arg name="local_planner" value="$(arg local_planner)" />

      <arg name="c1" value="$(arg c1)" />
      <arg name="c2" value="$(arg c2)" />

      <arg name="s1" value="$(arg s1)" />
      <arg name="s2" value="$(arg s2)" />
      <arg name="s3" value="$(arg s3)" />
      <arg name="s4" value="$(arg s4)" />
      <arg name="s5" value="$(arg s5)" />
      <arg name="s6" value="$(arg s6)" />

      <arg name="nnodes" value="$(arg nnodes)" />
      <arg name="depth" value="$(arg depth)" />
      <arg name="ic" value="$(arg ic)" />
      <arg name="ia" value="$(arg ia)" />
      <arg name="uinterval" value="$(arg uinterval)" />
      <arg name="lmf" value="$(arg lmf)" />
      <arg name="dis2p" value="$(arg dis2p)" />
      <arg name="adis" value="$(arg adis)" />
      <arg name="fdis" value="$(arg fdis)" />
      <arg name="s_angle" value="$(arg s_angle)" />
      <arg name="mu" value="$(arg mu)" />
      <arg name="ef" value="$(arg ef)" />
      <arg name="use_v" value="$(arg use_v)" />

      <arg name="use_karto" value="$(arg use_karto)" />
      <arg name="use_karto_segmented" value="$(arg use_karto_segmented)" />
      <arg name="use_amcl" value="$(arg use_amcl)" />
      <arg name="use_hector" value="$(arg use_hector)" />

      <arg name="use_planner_cost" value="$(arg use_planner_cost)" />
      <arg name="use_planner_dynamic" value="$(arg use_planner_dynamic)" />
      <arg name="use_planner_static" value="$(arg use_planner_static)" />
      <arg name="use_planner_default" value="$(arg use_planner_default)" />

    </include>
</launch>
