<?xml version="1.0"?>
<launch>
<arg name="use_laser_obstacles" default="false" />
<arg name="is_simulation" default="false" />
<arg name="publish_map2odom" default="false" />


<node if="$(arg publish_map2odom)" pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 100" />

<include if="$(arg use_laser_obstacles)" file="$(find navigation_launch)/launch/laser_filter_summit.launch" />
  

<node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy" output="screen" respawn="true">
  <param name="target_speed" value="1.0" />
  <param name="failure_mode" value="replan" />
  <remap from="rviz_goal" to="/move_base_simple/goal" />
</node>



    

<include file="$(find path_planner)/launch/goal_planner.launch" />
    
<include file="$(find path_control)/launch/path_control.launch" />

<!--include file="$(find rgbd2dem)/launch/depth2dem_480_int.launch" /-->

<!--Load Summit model planner parameters /-->
<include file="$(find navigation_launch)/launch/model_params/model_summit_star.launch" />


<node pkg="path_follower" type="path_follower_node" name="path_follower" output="screen" respawn="true">
        <param name="controller_type" value="$(optenv ROBOT_CONTROLLER modelbased)" />
	<remap if="$(arg is_simulation)" from="/cmd_vel" to="/summit_xl_control/cmd_vel" />

    </node>


	<group ns="path_follower" >

	<group ns="model_based_planner" >
		<param name="robot_config_file" value="$(find model_based_planner)/config/summit_c.yaml" />
            	<param name="elevation_map_config_file" value="$(find localmap)/config/dem_local_768_8.yaml" /> -->
            <param name="look_ahead_time" value="3.0" />
            
	</group>

        <param name="controller_type" value="modelbased" />
        <group ns="controller" >
            <group ns="modelbased" >

	    <param name="threshold_velocity" value="0.8" />
            <param name="use_velocity" value="false" />
	    <param name="min_traj_nodes" value="40" />
	    <!--param name="pose_output_folder" value="/media/robot/data/ModelObstacle/MBC_obstacles" /-->



            </group>
        </group>

        <group ns="local_planner">
            <param name="algorithm" value="NULL" />
        </group>
    </group>

    <!-- default settings for the follower -->
    <group ns="path_follower">
        <param name="min_velocity" value="0.2" />
        <param name="max_velocity" value="0.8" />
        <param name="waypoint_tolerance" value="0.8" />
        <param name="goal_tolerance" value="0.1" />

        <group ns="collision_avoider">
            <group ns="collision_box">
                <param name="width" value="0.4" />
                <param name="crit_length" value="0.35" />
                <param name="min_length" value="0.35" />
                <param name="max_length" value="0.5" />
                <param name="velocity_factor" value="1.0" />
                <param name="velocity_saturation" value="-1.0" />
            </group>
        </group>

        <group ns="supervisor">
            <param name="use_waypoint_timeout" value="false" />

            <param name="use_distance_to_path" value="false" />
            <group ns="distance_to_path">
                <param name="max_dist" value="2.0" />
            </group>

            <param name="use_path_lookout" value="false" />
            <group ns="path_lookout">
                <param name="obstacle_scale_distance" value="1.0" />
                <param name="obstacle_scale_lifetime" value="5.0" />
                <param name="path_width" value="0.5" />
            </group>
        </group>
    </group>

    <!-- load common parameters -->
    <include file="$(find path_follower)/launch/follower_2steer_inputscaling.launch" />
    <include file="$(find path_follower)/launch/follower_2steer_purepursuit.launch" />
    <include file="$(find path_follower)/launch/follower_2steer_stanley.launch" />
    <include file="$(find path_follower)/launch/follower_ackermann_inputscaling.launch" />
    <include file="$(find path_follower)/launch/follower_ackermann_orthexp.launch" />
    <include file="$(find path_follower)/launch/follower_ackermann_pid.launch" />
    <include file="$(find path_follower)/launch/follower_ackermann_purepursuit.launch" />
    <include file="$(find path_follower)/launch/follower_ackermann_stanley.launch" />
    <include file="$(find path_follower)/launch/follower_differential_orthexp.launch" />
    <include file="$(find path_follower)/launch/follower_dynamic_window.launch" />
    <include file="$(find path_follower)/launch/follower_PBR.launch" />
    <include file="$(find path_follower)/launch/follower_kinematic_HBZ.launch" />
    <include file="$(find path_follower)/launch/follower_kinematic_HBZ_TT.launch" />
    <include file="$(find path_follower)/launch/follower_kinematic_SLP.launch" />
    <include file="$(find path_follower)/launch/follower_OFC.launch" />
    <include file="$(find path_follower)/launch/follower_omnidrive_orthexp.launch" />
    <include file="$(find path_follower)/launch/follower_potential_field.launch" />
    <include file="$(find path_follower)/launch/follower_potential_field_TT.launch" />
    <include file="$(find path_follower)/launch/follower_unicycle_inputscaling.launch" />








</launch>
