<launch>

  <include file="$(find combined_planner)/launch/hector_slam.launch"/>
    
  <node name="motion_control" pkg="motion_control" type="motion_control" respawn="false" output="screen" >  

    <param name="path_driver/waypoint_tolerance" value="0.2" />
    <param name="path_driver/goal_tolerance" value="0.15" />
    <param name="path_driver/dualpid/kp" value="0.5" />
    <param name="path_driver/dualpid/ki" value="0.1" />
    <param name="path_driver/dualpid/i_max" value="0.5" />

  </node>

  <include file="$(find combined_planner)/launch/global_costmap.launch" />

  <include file="$(find combined_planner)/launch/planner_default.launch" />

</launch>
