<?xml version="1.0"?>
<!--
Launch the path follower with the Stanley controller for a car-like bi-steerable robot.
-->
<launch>
    <group ns="path_follower">
        <group ns="controller">
            <!-- parameters, that are dependent of the controller or the robot model -->
            <group ns="2steer_stanley">
                <param name="k_forward" value="1.6" />
                <param name="k_backward" value="1.6" />
                <param name="vehicle_length" value="0.34" />
                <param name="max_steering_angle" value="0.52359877559"/> <!-- 30° -->
            </group>
        </group>
    </group>  
</launch>
