<?xml version="1.0"?>
<!--
Launch the path follower. Choose the appropriate controller/robot model-launchfile
by uncommenting the corresponding line.
-->
<launch>
    <include file="$(find path_follower)/launch/follower_ackermann_pid.launch" />
    <!--<include file="$(find path_follower)/launch/follower_omni_orthexp.launch" />-->
</launch>
