<?xml version="1.0"?>
<!--
Launch the path follower with the pure pursuit controller for a car-like (Ackermann) robot.
-->
<launch>
    <group ns="path_follower">
        <group ns="controller">
            <!-- parameters, that are dependent of the controller or the robot model -->
            <group ns="ackermann_purepursuit">
                <param name="factor_lookahead_distance_forward" value="0.3" />
                <param name="factor_lookahead_distance_backward" value="0.4" />
                <param name="vehicle_length" value="0.34" />
                <param name="factor_steering_angle" value="1.0" />
            </group>
        </group>
    </group>  
</launch>
