<?xml version="1.0"?>
<launch>
  <arg name="algo" default="AStar" />
  <arg name="c1" default="true" />
  <arg name="c2" default="true" />

  <arg name="s1" default="-1.0" />
  <arg name="s2" default="1.0" />
  <arg name="s3" default="1.0" />
  <arg name="s4" default="1.0" />
  <arg name="s5" default="1.0" />
  <arg name="s6" default="1.0" />

  <arg name="nnodes" default="300" />
  <arg name="dis2p" default="0.3" />
  <arg name="dis2o" default="0.85" />
  <arg name="s_angle" default="25.0" />
  <node pkg="path_follower" type="path_follower_node" name="path_follower" output="screen" respawn="true">
    <param name="supervisor/use_path_lookout" value="false" />
    <param name="supervisor/use_waypoint_timeout" value="false" />
    <param name="supervisor/use_distance_to_path" value="false" />

    <param name="supervisor/path_lookout/obstacle_scale_distance" value="1" />
    <param name="supervisor/path_lookout/obstacle_scale_lifetime" value="5" />
    <param name="supervisor/path_lookout/path_width" value="0.5" />
    <param name="supervisor/distance_to_path/max_dist" value="2.0" />
    
    <param name="controller" value="kinematic_SSG" />
    
    <param name="waypoint_tolerance" value="2.0" />
    <param name="goal_tolerance" value="0.05" />
    <param name="max_distance_to_path" value="2.0" />
    <param name="min_velocity" value="0.01" />
    <param name="max_velocity" value="2.0" />
    <param name="collision_box/width" value="0.4" />
    <param name="collision_box/crit_length" value="0.6" />
    <param name="collision_box/min_length" value="1.0" />
    <param name="collision_box/max_length" value="1.5" />
    <param name="collision_box/velocity_factor" value="1.0" />
    <param name="collision_box/velocity_saturation" value="1.0" />
    <param name="obstacle_scale_distance" value="1.0" />
    <param name="obstacle_scale_lifetime" value="5.0" />
    <param name="path_width" value="0.5" />
 
    <param name="k1" value="8.0" />
    <param name="k2" value="40" />

    <param name="lambda" value="1" />
    <param name="theta_a" value="2.0*0.78539816339" />
    <!-- grass -->
    <param name="x_ICR" value="0.2809"/>
    <param name="y_ICR_l" value="0.38178" />
    <param name="y_ICR_r" value="-0.487" />
    <param name="alpha_l" value="0.9" />
    <param name="alpha_r" value="0.9128" />
    <!-- corridor -->
    <!-- param name="x_ICR" value="0.259"/>
    <param name="y_ICR_l" value="0.4786" />
    <param name="y_ICR_r" value="-0.3496" />
    <param name="alpha_l" value="0.8045" />
    <param name="alpha_r" value="0.827" / -->

    <param name="max_angular_velocity" value="0.5" />
    <param name="epsilon" value="0.5" />
    <param name="b" value="0.2" />

    <param name="look_ahead_dist" value="1.5" />
    <param name="k_o" value="0" />
    <param name="k_g" value="0.0" />
    <param name="k_w" value="0.0" />
    <param name="k_curv" value="0.00" />

    <!-- local planner -->
    <param name="algo" value="$(arg algo)"/>
    <!-- constraints -->
    <param name="c1" value="$(arg c1)"/>
    <param name="c2" value="$(arg c2)"/>
    <!-- scorers -->
    <param name="s1" value="$(arg s1)"/>
    <param name="s2" value="$(arg s2)"/>
    <param name="s3" value="$(arg s3)"/>
    <param name="s4" value="$(arg s4)"/>
    <param name="s5" value="$(arg s5)"/>
    <param name="s6" value="$(arg s6)"/>
    <!-- planner params-->
    <param name="nnodes" value="$(arg nnodes)" />
    <param name="dis2p" value="$(arg dis2p)" />
    <param name="dis2o" value="$(arg dis2o)" />
    <param name="s_angle" value="$(arg s_angle)" />

    <remap from="scan" to="scan/front" />
    <remap from="/obstacles" to="/obstacle_cloud" />
  </node>
  
</launch>
