<?xml version="1.0"?>
<!--
Launch the path follower with setup for the selected robot controller.

To specify which robot controller/model is used, set the name of the controller in the
environment variable `ROBOT_CONTROLLER`. Default is 'ackermann_pid'.
This file will simply include the specialized launch file for this controller, so for every
controller, there has to be a lauch file with the name `follower_CONTROLLER_NAME.launch`.
Please make sure, you add an according launch file, if you implement a new controller.
-->
<launch>
	<arg name="controller" default="$(optenv ROBOT_CONTROLLER kinematic_SSG)" />
	<arg name="algo" default="AStar" />

	<arg name="c1" default="true" />
	<arg name="c2" default="true" />
	<arg name="c3" default="true" />

	<arg name="s1" default="1.0" />
	<arg name="s2" default="1.0" />
	<arg name="s3" default="1.0" />
	<arg name="s4" default="1.0" />

	<include file="$(find path_follower)/launch/follower_$(arg controller).launch">
		<arg name="algo" value="$(arg algo)" />
		<arg name="c1" value="$(arg c1)" />
		<arg name="c2" value="$(arg c2)" />
		<arg name="c3" value="$(arg c3)" />

		<arg name="s1" value="$(arg s1)" />
		<arg name="s2" value="$(arg s2)" />
		<arg name="s3" value="$(arg s3)" />
		<arg name="s4" value="$(arg s4)" />
	</include>
</launch>
