<?xml version="1.0"?>
<launch>
  <arg name="algo" default="AStar" />
  <arg name="c1" default="true" />
  <arg name="c2" default="true" />

  <arg name="s1" default="0.0" />
  <arg name="s2" default="0.0" />
  <arg name="s3" default="0.0" />
  <arg name="s4" default="0.0" />
  <arg name="s5" default="0.0" />

  <arg name="nnodes" default="300" />
  <arg name="depth" default="10" />
  <arg name="ic" default="3" />
  <arg name="ia" default="0" />
  <arg name="uinterval" default="1.0" />
  <arg name="lmf" default="1.0" />
  <arg name="dis2p" default="0.3" />
  <arg name="dis2o" default="0.85" />
  <arg name="s_angle" default="25.0" />
  <arg name="use_v" default="true" />
  <node pkg="path_follower" type="path_follower_node" name="path_follower" output="screen" respawn="true">
    <param name="supervisor/use_path_lookout" value="false" />
    <param name="supervisor/use_waypoint_timeout" value="false" />
    <param name="supervisor/use_distance_to_path" value="false" />

    <param name="supervisor/path_lookout/obstacle_scale_distance" value="1" />
    <param name="supervisor/path_lookout/obstacle_scale_lifetime" value="5" />
    <param name="supervisor/path_lookout/path_width" value="0.5" />
    <param name="supervisor/distance_to_path/max_dist" value="2.0" />
    
    <param name="controller" value="kinematic_SLP" />
    
    <param name="waypoint_tolerance" value="2.0" />
    <param name="goal_tolerance" value="0.05" />
    <param name="max_distance_to_path" value="2.0" />
    <param name="min_velocity" value="0.01" />
    <param name="max_velocity" value="2.0" />
    <param name="collision_box/width" value="0.4" />
    <param name="collision_box/crit_length" value="0.6" />
    <param name="collision_box/min_length" value="1.0" />
    <param name="collision_box/max_length" value="1.5" />
    <param name="collision_box/velocity_factor" value="1.0" />
    <param name="collision_box/velocity_saturation" value="1.0" />
    <param name="obstacle_scale_distance" value="1.0" />
    <param name="obstacle_scale_lifetime" value="5.0" />
    <param name="path_width" value="0.5" />
 
    <param name="k1" value="3.0" />
    <param name="k2" value="5.0" />

    <param name="gamma" value="5.0" />
    <param name="theta_a" value="2*0.78539816339" />
    <param name="max_angular_velocity" value="0.5" />
    <param name="epsilon" value="0.5" />
    <param name="b" value="0.2" />

    <param name="look_ahead_dist" value="0.5" />
    <param name="k_o" value="0" />
    <param name="k_g" value="0.1" />
    <param name="k_w" value="0.1" />
    <param name="k_curv" value="0.00" />

    <!-- local planner -->
    <param name="algo" value="$(arg algo)"/>
    <!-- constraints -->
    <param name="c1" value="$(arg c1)"/>
    <param name="c2" value="$(arg c2)"/>
    <!-- scorers -->
    <param name="s1" value="$(arg s1)"/>
    <param name="s2" value="$(arg s2)"/>
    <param name="s3" value="$(arg s3)"/>
    <param name="s4" value="$(arg s4)"/>
    <param name="s5" value="$(arg s5)"/>
    <!-- planner params-->
    <param name="nnodes" value="$(arg nnodes)" />
    <param name="depth" value="$(arg depth)" />
    <param name="ic" value="$(arg ic)" />
    <param name="ia" value="$(arg ia)" />
    <param name="uinterval" value="$(arg uinterval)" />
    <param name="lmf" value="$(arg lmf)" />
    <param name="dis2p" value="$(arg dis2p)" />
    <param name="dis2o" value="$(arg dis2o)" />
    <param name="s_angle" value="$(arg s_angle)" />
    <param name="use_v" value="$(arg use_v)" />

    <remap from="scan" to="scan/front" />
    <remap from="/obstacles" to="/obstacle_cloud" />
  </node>
  
</launch>
