<?xml version="1.0"?>
<launch>
    <!-- GeRoNa -->
    <include file="$(find navigation_launch)/launch/rviz_controlled.launch">
        <arg name="use_hector" value="false" />
        <arg name="use_planner_default" value="true" />
        <arg name="use_laser_obstacles" value="true" />
    </include>

    <!-- GeRoNa parameters for this stage robot -->
    <include file="$(find gerona_examples)/launch/include/gerona_stage_params.launch" />

    <!-- STAGE -->
    <include file="$(find gerona_examples)/launch/include/stage.launch" />

    <!-- AMCL -->
    <include file="$(find gerona_examples)/launch/include/amcl.launch" />

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gerona_examples)/rviz/robot_navigation_stage.rviz"/>
    
</launch>
