<?xml version="1.0"?>
<launch>

  <node pkg="frontier_explore" type="ExploreNode" name="frontier_explore" output="screen">

    <param name="importance_gain" value="0.25"/>
    <param name="dist_gain" value="1.0"/>
    <param name="orientation_gain" value="5.0"/>
    <param name="min_frontier_length" value="1.0"/>

    <param name="visualize" value="True"/>	

  </node>

</launch>
